@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'MaturaScriptCapitals';
  src: url("/fonts/MaturaMTScriptCapitals.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 861369 */
  src: url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.eot");
  src: url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.woff") format("woff"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.ttf") format("truetype"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e919'; }
  .iconfont.icon-lofter::before {
    content: '\e63c'; }
  .iconfont.icon-instagram::before {
    content: '\e626'; }
  .iconfont.icon-dribbble::before {
    content: '\e6c3'; }
  .iconfont.icon-zcool::before {
    content: '\e6be'; }
  .iconfont.icon-github::before {
    content: '\e799'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }
