@import url(reset.css);
#container {
  max-width: 980px;
  margin: 90px auto 75px;
  padding: 0 15px; }
  @media screen and (max-width: 600px) {
    #container {
      margin-top: 20px;
      margin-bottom: 20px; } }

#panel {
  background-color: white; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    opacity: .7; }

body {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif; }

@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue.otf"); }

@font-face {
  font-family: 'MaturaScriptCapitals';
  src: url("/fonts/MaturaMTScriptCapitals.ttf"); }

@font-face {
  font-family: 'iconfont';
  /* project id 861369 */
  src: url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.eot");
  src: url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.woff") format("woff"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.ttf") format("truetype"), url("//at.alicdn.com/t/font_861369_ceqcqtwid2r.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-behance::before {
    content: '\e919'; }
  .iconfont.icon-lofter::before {
    content: '\e63c'; }
  .iconfont.icon-instagram::before {
    content: '\e626'; }
  .iconfont.icon-dribbble::before {
    content: '\e6c3'; }
  .iconfont.icon-zcool::before {
    content: '\e6be'; }
  .iconfont.icon-github::before {
    content: '\e799'; }
  .iconfont.icon-arrow-left::before {
    content: '\e91a'; }
  .iconfont.icon-arrow-right::before {
    content: '\e636'; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-cf::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

#nav {
  margin-bottom: 64px; }
  #nav > .header {
    margin-bottom: 10px; }
    #nav > .header > .title {
      font-size: 40px;
      line-height: 53px;
      color: #333;
      font-family: MaturaScriptCapitals; }
      #nav > .header > .title:hover {
        opacity: .7; }
  #nav > .ctnWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #nav > .ctnWrap > .menu {
      text-align: right; }
    @media screen and (max-width: 600px) {
      #nav > .ctnWrap {
        flex-direction: column; }
        #nav > .ctnWrap > .menu {
          text-align: center;
          margin-top: 10px; } }
  #nav .nav-menu {
    font-family: BebasNeue;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin-left: 24px; }
    #nav .nav-menu:first-child {
      margin-left: 0; }
    #nav .nav-menu.z-active {
      position: relative; }
      #nav .nav-menu.z-active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        height: 2px;
        background-color: #333; }
    @media screen and (max-width: 600px) {
      #nav .nav-menu {
        margin-left: 10px;
        font-size: 18px; } }
  #nav .nav-icn {
    margin-right: 15px;
    line-height: 24px; }
    #nav .nav-icn:last-child {
      margin-right: 0; }
  @media screen and (max-width: 600px) {
    #nav {
      text-align: center;
      margin-bottom: 20px; }
      #nav > .ctnWrap {
        justify-content: space-around; } }

#footer {
  margin-top: 80px;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.8;
  color: #333; }
  #footer .copyright {
    float: right; }
  @media screen and (max-width: 800px) {
    #footer {
      margin-top: 20px;
      text-align: center; }
      #footer .copyright {
        display: block;
        float: none; } }

.pagination {
  padding: 20px;
  background-color: white;
  text-align: center; }
  .pagination > .prev, .pagination > .next {
    margin: 0 10px; }
  .pagination > .page-number {
    margin: 0 10px; }
    .pagination > .page-number.current {
      text-decoration: underline; }

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  margin: 40px 0;
  background-color: white;
  color: #333; }
  .project-card > .imgWrap {
    width: 320px;
    height: 240px;
    margin-right: 40px;
    background-color: #f8f8f8; }
    .project-card > .imgWrap > img {
      width: 100%;
      height: 100%; }
  .project-card > .ctnWrap {
    flex: 1; }
    .project-card > .ctnWrap > .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px; }
      .project-card > .ctnWrap > .title:hover {
        opacity: 1;
        color: #f0534e; }
    .project-card > .ctnWrap > .desc {
      font-size: 16px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 15px; }
    .project-card > .ctnWrap > .sub {
      font-size: 16px;
      line-height: 30px;
      opacity: .5; }
  .project-card.project-card-continuous {
    flex-direction: row-reverse;
    margin: 0;
    position: relative; }
    .project-card.project-card-continuous > .imgWrap {
      margin-right: 0;
      margin-left: 40px; }
    .project-card.project-card-continuous::after {
      content: '';
      position: absolute;
      left: 100px;
      right: 100px;
      bottom: 0;
      height: 1px;
      background-color: #e5e5e5; }
    @media screen and (max-width: 600px) {
      .project-card.project-card-continuous {
        flex-direction: column;
        padding: 20px; }
        .project-card.project-card-continuous > .imgWrap {
          margin-left: 0;
          margin-bottom: 20px; }
        .project-card.project-card-continuous::after {
          left: 20px;
          right: 20px; } }
  @media screen and (max-width: 600px) {
    .project-card {
      flex-direction: column;
      padding: 20px;
      margin: 10px 0; }
      .project-card > .imgWrap {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%; } }

.article {
  margin: 64px 0 80px;
  padding: 80px 100px 0;
  background-color: white;
  color: #333;
  font-size: 16px;
  line-height: 30px; }
  .article > .title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600; }
  .article > .sub {
    opacity: .5;
    margin-bottom: 20px; }
  .article > .content {
    padding-bottom: 64px; }
    .article > .content h1, .article > .content h2, .article > .content h3, .article > .content h4, .article > .content h5 {
      font-size: 24px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: 15px; }
    .article > .content p {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px; }
    .article > .content pre, .article > .content .highlight {
      overflow: auto;
      padding: 0;
      margin-bottom: 15px;
      color: #333;
      background: #f8f8f8; }
      .article > .content pre .gutter, .article > .content .highlight .gutter {
        text-align: right; }
        .article > .content pre .gutter pre, .article > .content .highlight .gutter pre {
          background-color: #f0f0f0;
          padding: 0 10px; }
      .article > .content pre .code, .article > .content .highlight .code {
        padding: 0 10px; }
    .article > .content ul, .article > .content ol {
      margin: 15px 0;
      margin-left: 15px; }
      .article > .content ul > li, .article > .content ol > li {
        padding-left: 20px;
        position: relative; }
        .article > .content ul > li::before, .article > .content ol > li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 15px;
          margin-top: -3px;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: #444; }
    .article > .content a {
      color: #f0534e; }
    .article > .content strong {
      font-weight: 600; }
    .article > .content figure > img {
      display: block; }
    .article > .content figcaption {
      font-size: 14px; }
    .article > .content blockquote {
      border-left: 4px solid #ddd;
      color: #7a7a7a;
      border-left: 5px solid #ccc;
      padding-left: 15px;
      font-size: 16px;
      margin-bottom: 15px; }
      .article > .content blockquote > :last-child {
        margin-bottom: 0; }
    .article > .content * {
      max-width: 100%; }
  .article > footer {
    padding: 40px 0;
    border-top: solid 1px #eee; }
    .article > footer > .link {
      font-size: 16px;
      line-height: 22px;
      max-width: 50%; }
  @media screen and (max-width: 600px) {
    .article {
      padding: 20px 20px 0;
      margin: 20px 0; }
      .article > footer {
        padding: 10px 0; } }

.archive {
  padding: 80px 160px;
  background-color: white; }
  @media screen and (max-width: 600px) {
    .archive {
      padding: 20px; } }

.archive-category > .title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600; }

.archive-category > .menu {
  margin-bottom: 70px; }
  .archive-category > .menu > li {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    line-height: 24px; }
    .archive-category > .menu > li > a:hover {
      opacity: 1;
      color: #f0534e; }
    .archive-category > .menu > li > span {
      opacity: .45;
      font-size: 14px;
      min-width: 90px;
      text-align: right; }

.archive-category:last-child > .menu {
  margin-bottom: 0; }

.about {
  background-color: white;
  min-height: 300px;
  padding: 80px;
  font-size: 16px;
  line-height: 30px; }

.tagcloud {
  background-color: white;
  padding: 60px; }
  .tagcloud > a {
    display: inline-block;
    padding: 10px; }
